$MainColor: rgb(96, 149, 62);
$FooterColor: rgb(81, 46, 38);

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: $FooterColor;
}

button,
textarea,
input,
select,
a, 
input:focus,
textarea:focus,
select:focus
{
    outline: none;
}


.appBase {
    display: flex;
    flex-direction: column;
}

/* --------------------------------- Buttons -------------------------------- */
.greenFilledButton {
    background-color: $MainColor;
    border: 2px $MainColor solid;
    color: white;

}

.greenBorderButton {
    background-color: transparent;
    border: 2px $MainColor solid;
    color: white;
}

.whiteBorderButton {
    background-color: transparent;
    border: 2px white solid;
    color: white;
}

.smallButton {
    height: 30px;
    width: 150px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    
}




/* ------------------------------ Intro Section ----------------------------- */

.introBackground {
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px;
    
    img {
        width: 60%;
        padding: 5px;
        margin: auto;
    }
    
    div {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    form {
        input {
            padding: 10px;
            letter-spacing: 1.5px;
            width: 300px;
            
        }
        ::placeholder {
            color: rgb(117, 117, 117);
            opacity: .7; 
        }
        
        :-ms-input-placeholder {
            color: rgb(117, 117, 117);
            opacity: .7; 
        }
        
        ::-ms-input-placeholder { 
            color: rgb(117, 117, 117);
            opacity: .7; 
        }
        
        button {
            margin: 5px auto;
            display: block;
        }
    }
    .loginButton{
        margin: 5px auto;
    }
    /* ---------------------------------- Modal --------------------------------- */
    .login{
        z-index: 1125;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        width: 500px;
        background: black;
        max-width: 100%;
        padding: 60px;
        top: 50%;   
        
        p{
            font-size: 16px;
            letter-spacing: 1.4px;
        }
        
        button {
            margin-top: 10px;
        }

/***************************
 * WHITE BORDER BACKGROUND *
 ***************************/
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid rgb(250, 250, 250);
        box-shadow: 0px 0px 0px 20px black;
        
        .close{
            text-align: right;
            margin-top:-50px;
            padding: 10px;
            /* background-color: black; */
            color: white;
            width: 100%;
            margin-left: 45px;
            position: relative;
            margin-bottom: 30px;
        }

        .closeButton{
            text-align: right;
            margin-top:-40px;
            padding: 10px;
            background-color: black;
            color: white;
            border: 0;
            position: relative;
        }
    }

    .login-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        background: rgba(0, 0, 0, 0.6);
    }

}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

/* ------------------------------ About Us Section ----------------------------- */

.aboutUs {
    background-color: $MainColor;
    padding: 30px;
}

.about {

    span {
        width: 50%;
        padding: 30px;
        margin: auto;
        font-size: 1.6rem;

        img {
            //  vertical-align: baseline;
            margin-left: 20px;
            color: white;
            height: 20px;
            padding: 0;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .infoSection {
        overflow: hidden;

        &-label {
            display: flex;
            padding: 1em;
            cursor: pointer;
            background: $MainColor;
            color: #fff;
            //   margin:auto;
            text-align: center;
        }

        &-content {
            max-height: 0;
            padding: 0 1em;
            background: white;
            transition: all 0.35s;
        }
        &-content div {
            padding: 2em 1em;
        }
    }

    input:checked {
        ~.infoSection-content {
            max-height: 100vh;
            padding: 1em;
        }
    }
}

/* --------------------------------- Footer --------------------------------- */

.footer {
    background: $FooterColor;
    min-height: 200px;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    text-transform: uppercase;

    img {
        height: 50px;
        padding: 10px 20px;
    }
}

/* ------------------------------- Navigation ------------------------------- */
.navigation{
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        margin: 2px 2px 5px 10px;
        height: 80px;
        border: white 1px solid;
        border-radius: 50%;
        
    }
    ul{
        display: inline;
        li{
            display: inline;
            padding: 5px;   
            a{
                color: white;
            }
            &::after{
                padding: 0 10px;
                content: '|';
                
            }
            &:last-child::after{
                content:'';
            }
        }
    }
}
.welcome{
    background-color: rgb(43, 43, 43);
    padding: 7px;
    padding-left: 20px;
    color: white;
}
/* ------------------------------ Main Section ------------------------------ */
.main {
    background-color: white;
    margin: 0;
    padding: 0;
    .dishSearch{
        width: 100%;
        background-color: $MainColor;
        display: flex;
        justify-content: center;
        input {
            margin: 5px auto;
            height: 35px;
            padding: 10px;
            width: 50%;
        }
    }
    .noResults{
        min-height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
            margin-bottom: 0;
            padding-bottom: 0;
            text-align: center;
        }
        img {
            width: auto;
            margin: 0;
            // height: 60vh;
            width: 50vw;
        }

    }
    .dishesDisplay{
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 25px;
        row-gap: 25px;
        
        div{
            margin:auto;

            img{
                width: 100%;
                margin: auto;
            }

            h3 {
                text-align: center;
                min-height: 30px;
                margin-top: 10px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        
    }
}





/**********
 * MOBILE *
 **********/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* ------------------------------ Intro Section ----------------------------- */

    .introBackground {
        min-height: 70vh;

        background-position: 45%;
        grid-template-columns: 1fr;

        img {
            width: 80%;
        }

        h3 {
            margin-top: -5px;
        }

        form {
            margin: 0;

            input {
                width: 80vw;
            }

        }
        .login {
            background: black;
            max-width: 90%; 

            input{
                width: 100%;
                
            }
        }
    }

    /* ------------------------------ Main Section ------------------------------ */
.main {
    background-color: white;
    margin: 0;
    padding: 0;
    .dishSearch{
        width: 100%;
        background-color: $MainColor;
        display: flex;
        justify-content: center;
        input {
            margin: 5px auto;
            height: 35px;
            padding: 10px;
            width: 50%;
        }
    }
    .noResults{
        min-height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            margin-bottom: 0;
            padding-bottom: 0;
        }
        img {
            width: auto;
            margin: 0;
            width: 80vw;
            height: auto;
        }

    }
    .dishesDisplay{
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 20px;
        
        div{
            margin:auto;

            img{
                width: 100%;
                margin: auto;
            }

            h3 {
                text-align: center;
                min-height: 30px;
                margin-top: 10px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        
    }
}

    /* ------------------------------ About Us Section ----------------------------- */


    .about {

        span {
            width: 90%;
            padding: 30px;
            font-size: 1.4rem;
        }

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    /* ------------------------------ Intro Section ----------------------------- */

    .introBackground {
        min-height: 60vh;
        grid-template-columns: 1fr 2fr;

        img {
            width: 200px;
        }

        h3 {
            margin-top: -5px;
        }

        form {
            margin: 0;
        }

    }


    /* ------------------------------ About Us Section ----------------------------- */

    .about {

        span {
            width: 90%;
            padding: 30px;
            font-size: 1.4rem;
        }

    }

}


/**********
 * TABLET *
 **********/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

    /* ------------------------------ Intro Section ----------------------------- */
    .introBackground {
        min-height: 60vh;

        img {
            width: 70%;
        }
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1025px) {

    /* ------------------------------ Intro Section ----------------------------- */

    .introBackground {
        min-height: 70vh;
        background-size: cover;
        padding: 30px;
        grid-template-columns: 1fr 2fr;

        img {
            width: 70%;

        }


    }



}